window#osd {
  border-radius: 0px;
  border: 2px solid #cad3f5;
  background: #24273a ;
}

  #container {
    margin: 10px;
    border-radius: 0px;
  }

  image,
  label {
    color: #{"@theme_fg_color"};
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 0px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #{"alpha(@theme_fg_color, 0.5)"};
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #{"@theme_fg_color"};
  }
}
